body {
    background: linear-gradient(black, #103C41);
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}