@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Iceland&family=Karla:ital,wght@0,200..800;1,200..800&family=Zen+Tokyo+Zoo&display=swap');
body {
  background: linear-gradient(silver, pink)
}
.container {
  height: 845px;  
  width: 1518px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(10, 9, 9, 0.3);
}
.heading {
  display: flex;
  margin-top: 10px;
  margin-left: 4%;
}
.heading h1 {
  font-family: 'Audiowide', cursive;
  font-size: 30px;
  color: #060606;

}

