@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Iceland&family=Karla:ital,wght@0,200..800;1,200..800&family=Zen+Tokyo+Zoo&display=swap');

 
body{
    background:linear-gradient(270deg,#97cdce,#aeacac);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 375%;
     background: rgba(126, 118, 118, 0.526);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(10px);
}

.heading{
  display: flex;
  margin-bottom: 41%;
}

.heading h1{
    font-family: 'Audiowide', cursive;
    font-size: 50px;
    color: #080808;
    text-shadow: 2px 2px 4px rgba(248, 244, 244, 0.986);
}